@import "tailwindcss";

* {
  font-family: "Press Start 2P", monospace;
  background-color: #1a1a1a;
  color: #e6e6e6;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  image-rendering: pixelated;
}

button {
  transition: transform 0.2s ease;
}

button > span {
  scale: 1.1;
}

input {
  caret-color: #ff9500;
  outline: none;
}

span {
  /* color: #00e5ff !important;
  color: #00ff99 !important;
  color: #ffcc00 !important;
  color: #ff0080 !important;
  color: #aa88ff !important; */
  color: #ff9500 !important;
}
