@import "tailwindcss";

@theme {
  --color-primary: #ff9500;
  --color-secondary: #00e5ff;
  --color-text-primary: #e6e6e6;
}

body {
  font-family: "Press Start 2P", monospace;
  background-color: #1a1a1a;
  color: #e6e6e6;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;
  image-rendering: pixelated;
}

input {
  caret-color: #ff9500;
  outline: none;
}

/* color: #00e5ff !important;
color: #00ff99 !important;
color: #ffcc00 !important;
color: #ff0080 !important;
color: #aa88ff !important;
color: #ff9500 !important; */
